# Maven 
target/

# eclipse project file
.settings/
.classpath
.project

.metadata/
/META-INF
/bin
build.properties
org.eclipse*
pom.properties
MANIFEST.MF

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# OS
.DS_Store